
.top{
      background-color: #fff;
      height: 80px;
      line-height: 80px;
}
@media (max-width:500px){
    .top .hidden{
        display: none;
    }
}
.center{
    width: 90%;
  
    margin: 0 auto;
   
}
img{
    vertical-align: top;
}
 .header{ 
     /* margin-top:80px; */
     overflow: hidden;
     border: 1px solid #ebd8d8; 
     background-color: #fff;
 }
 
.nav{
   

   
    position: relative;
    height: 50px;
    line-height: 50px;
    margin:  0 auto;
    width: 90%;
   
    
}
.left{
    
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: nowrap;
 
}
.left li {
    list-style: none;
    /* padding:0 2%; */
}
.left li:first-child a{
    padding-left: 1em; 
}
.left li a{
    display: block;
    font-size: 16px;
    text-decoration:none;
    color: #050516;
    padding:0 .5em;   
}
.left li a:hover{
    color: #eb0c0c75;
}
.right{
     position: absolute;
     right: 3%;
     font-size: 16px;
     top: 5%;
 }
@media (max-width:600px){
 .right{
     display: none;
 }
}